<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.administrator.myapplicationapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ChangePasswordPage"
            android:label="重置密码"
            android:parentActivityName=".ForgetActivity" ></activity>
        <activity
            android:name=".ForgetActivity"
            android:label="重置密码"
            android:parentActivityName=".LoginActivity" />
        <activity
            android:name=".MainActivity"
            android:label="易技能">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="登入"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".RegisterActivity"
            android:label="注册"
            android:parentActivityName=".LoginActivity" />
        <activity
            android:name=".AboutApp"
            android:label="关于App版本" />
        <activity android:name=".MyMessage" />
        <activity
            android:name=".SetPage"
            android:label="设置" />
        <activity
            android:name=".CollectActivity"
            android:label="收藏" />
        <activity
            android:name=".MyMoney"
            android:label="我的悬赏币" />
        <activity android:name=".BufferPage"
            android:label="下载缓存"></activity>
        <activity android:name=".MessageCheck"
            android:label="消息与通知"></activity>
        <activity android:name=".RecordPage"
            android:label="浏览记录" />
        <activity android:name=".TransactionRecord"
            android:label="交易记录"/>
        <activity android:name=".Feedbackpage"
            android:label="反馈"/>
        <activity android:name=".Helppage"
            android:label="帮助"/>
    </application>

</manifest>